<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Personal Finance Tracker</title>
    <link rel="icon" type="image/png" href="/static/icong.png">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        body{background:url(https://img.freepik.com/free-photo/flat-lay-colorful-arrows-blue-background-with-copy-space_23-2148459901.jpg?ga=GA1.1.1974046261.1719588876&semt=ais_hybrid);
background-size:cover;
font-family:Arial; }
    </style>
</head>
<body>
    <div class="containerlogin">
        <h1 class="login">Login</h1>
        <form class="wrap" action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </div>
</body>
</html>
